@page
@model MyEShop.Pages.Admin.IndexModel
@{
}
<h1>Admin</h1>
<h1>لیست کالاها</h1>
<hr />
<p>
    <a asp-page="Add" class="myButton">افزودن کالا</a>
</p>
<table width="90%" class="txt text-xl-center">
    <thead >
        <tr>
            <th>تصویر</th>
            <th>نام</th>
            <th>قیمت</th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.products)
        {
            <tr>
                <td>
                    <img src="/images/@(item.ProductId).jpg" style="max-width: 200px; border: 1px solid gray;padding: 3px" />
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>@item.Item.Price</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.ProductId">ویرایش</a>
                    <a asp-page="Delete" asp-route-id="@item.ProductId">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
