
@{
    ViewData["Title"] = "تماس با ما";
}

<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h5 class="card-title">راه های ارتباط با ما </h5>
                <p class="card-text">09026913173</p>
                <p class="card-text">09921924154</p>
                <p class="card-text">FarshadMiri@gmail.com</p>

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">به فروشگاه خوش امدید</h1>
                <p class="col-md-8 fs-4">  می توانید از طریق راه های ارتباطی با ما در ارتباط باشید.</p>
                <hr />
                
            </div>
        </div>
    </div>

</div>

