@model IEnumerable<Product>
@{
    ViewData["Title"] = "فروشگاه من";
}

<div class="text-center">
    <h1 class="display-4">به فروشگاه من خوش آمدید</h1>
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
           <partial name="_BoxPartial" model="@item" />
        }

    </div>
</div>
